/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color:#636363;
}

.container{
    width: 65%;
    margin: auto;
}

.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color:#f55f8d;
}

.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}

.gradient__btn{
    padding: 20px 35px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    color:white;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}


/* HEADER */
.header{
    top: 0;
    left: 0;
    width: 100%;
    position:absolute;
}

.header .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav{
    display: flex;
    align-items: center;
}

.header nav ul{
    display: flex;
    margin-right: 30px;

}

.header .header__content li{
    display: inline;
    padding: 55px 15px;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.5s;
}

.header nav ul li a:hover{
    color:#f55f8d
}

.header nav ul li a span{
    display: inline-block;
}

.header nav ul li a:hover span{
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }


.header button:hover {
    /*   Khi hover chỉnh vị trí ưu tiên hiển thị của màu nền. 
    Mặc định không xét giá trị cho background-position 
    thì sẽ có giá trị mặc định background-position: left top; 
    */
    background-position: right center;
  
    color: #fff;
    text-decoration: none;
  }

/* BANNER */
.banner{
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.banner__content{
    display: flex;
    justify-content: space-between;
}

.banner__article p{
    font-size: 18px;
    margin-bottom: 15px;
}

.banner__content ul{
    margin-bottom: 20px;
    list-style: none;
}

.banner__article li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.banner__article i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: white;
    border-radius: 35px;
    font-weight: 900;
    background-image:linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}


/* SERVICE */
.service{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-top: 115px;
}


.service__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service__items{
    object-fit: cover;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    border-image: 100 round;
    border: 3px solid transparent;
    transform: translateY(0);
    transition: all 0.5s;
}

.service__items:hover{
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round ;
}
.service__items img{
    width: 215px;
}

.service__items h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    margin: 15px 0;
    
}


/* ABOUT US */
.aboutus{
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding:115px 0 85px 0;
    overflow: hidden;
}

.about__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about__left{
    width: 60%;
    left: -17%;
    position: absolute;
}

.about__left img{
    width: 100%;
    border-radius:  0 100px 100px 0;
}
.about__right{
    width: 50%;
}

.about__right p{
    margin-bottom: 15px;
}


.about__right ul{
    margin-bottom: 30px;
}

.about__right li{
    list-style: none;
}

.about__right i{
    font-size: 24px;
    color:#f55f8d ;
    margin-right: 10px;
    vertical-align: middle;
}


/* NUMBER */
.number{
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number__content{
    display: flex;
    justify-content: space-around;
}

.number__items{
    width: 25%;
}

.number__items i{
    font-size: 45px;
    background-image:linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: white;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number__items p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}


/* FEATURE */
.feature{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.feature__content{
    display: flex;
}


.feature__left, .feature__right{
    width: 50%;
}


.feature__items{
    padding: 0 50px 30px 0;
}
.feature__items:nth-of-type(2){
    padding: 0 0 30px 50px;
}




.feature__banner{
    margin-right: -80px;
}

.feature__banner img{
    width:100%;
    animation: move2 5s infinite;
}

.items__detail{
    display: flex;
    align-items: center;
    box-shadow: 0 0 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    }


.items__detail::after{
    content: "";
    position:absolute;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.items__detail:hover::after{
    opacity: 1;
}

.items__detail i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.feature__word h3{
    font-weight: 800;
    color: black;
    font-size: 1.5rem;
    transition: all 1s;
}

.feature__items div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}


.items__detail:hover i, .items__detail:hover div,.items__detail:hover h3 {
    color: #fff;
}


/* PORTFOLIO */
.portfolio{
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
    padding-top: 115px;
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio__items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__item1{
    grid-column: 1/3;
}
.portfolio__item5 {
    grid-column: 1/3;
}
.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio__items{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
/* !Trước hover */
.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
}
.portfolio__overlay::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
  }
/* !Sau hover */
.portfolio__items:hover .portfolio__overlay{
    opacity: 1;
}
.portfolio__overlay:hover::before {
    left: 125%;
  }
  

/* !Trước hover */
.portfolio__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}
/* !Sau hover */
.portfolio__items:hover .portfolio__icon{
    transform: translate(0,0);
}
.portfolio__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.portfolio__text p {
    color: #fff;
    opacity: 0.7;
}
/* !Trước hover */
.portfolio__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
}
/* !Sau hover */
.portfolio__items:hover .portfolio__text{
    transform: translate(0,0);
}

/* BLOG */
.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position:  top center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 115px;

}


.blog__item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
}

.blog__header img {
    display: block;
    width: 100%;
    border-radius: 8px;
}
.blog__header {
    position: relative;
}

.blog__header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer p{
    margin-right: 20px;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
}

/* FOOTER */
footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;

}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top{
    padding: 50px 60px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1) ;
    background-image: url(../img/pattern3.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.email__text, .email__box{
    width: 50%;
}

.email__text h2 {
    font-size: 28px;
    color: #262626;
}

.email__box form{
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.email__box input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    width: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

.email__box button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    position: relative;
}

.bottom__items{
    width: 25%;
}

.bottom__items i {
    font-weight: 700;
    margin-right: 10px;
}
.bottom__contact li{
    display: flex;  
    align-items: center;

}
.bottom__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.bottom__items a {
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.bottom__items li{
    list-style: none;
    padding: 0.5rem 0;
}

.bottom__items a:hover{
    color: white;
}

.bottom__items h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.bottom__items h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 15px;
}

.bottom__items h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    left: 20px;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}


.copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.copyright__left span {
    color: #f55f8d;
}

.copyright__content{
    display:flex;
    justify-content: space-between;
}

.copyright__right a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.copyright__right a:hover{
    background-color: #f55f8d;
}



@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}
